.section {
  position: relative;
  isolation: isolate;
  margin: 0.5rem 0;
  padding: 3.5rem 0;
}

.background {
  position: absolute;
  inset: 0 50%;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.scrollArea {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollArea::-webkit-scrollbar {
  display: none;
}
